
<!-- written by Carolin Bischopping -->
<header> 
    <ul class="nav nav-pills">
        <li>
            <a href="#">Rezeptbuch</a>
        </li>
        <li>
            <a href="#">Einkaufsliste</a>
        </li>
        <li>
            <div class="dropdown">
                <button class="btn btn-primary
                dropdown-toggle" 
                type="button" 
                id="dropdownMenuButton"
                aria-haspopup="true" 
                aria-expanded="false">
                  Dropdown button
                </button>
               <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li> <a href="#">Speichern</a></li>
                <li> <a href="#">Abrufen</a></li>
               </ul>
            </div>
        </li>
      </ul>
</header>


<!-- written by Carolin Bischopping -->